@use '../custom'as *;


h1, nav{
    font-family: 'Lilita One', cursive, sans-serif;
    color: $secondary;
}
h2, .card-title {
   font-family: 'Madimi One', sans-serif;
    color:$secondary;
}
h5{
    font-family: 'Madimi One', sans-serif;
}

p{
    color: $primary;
}
.coloroverride{
    color:$secondary;
    :hover{
        color: $tertiary;
    }
    &--option2{
        color:$tertiary;
        :hover{
            color: $secondary;
        }
    }
}
.emphasis {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
}
